
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    font-family: poppins;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #FEEAE9;
    padding: 40px 40px;
    
}
section .content p {
font-size: 16px;
}
section .content span {
    font-size: 41px;
    color:#FF136F;
    display:block;
}
section .content a {
    font-size: 16px;
    text-decoration: none;
    background-color:#FF136F ;
    padding: 15px 35px;
    color: #FEEAE9;
    border-radius: 5px;
    row-gap: 10px;
}
section .content {
    width: 50%;
}
section .content h1 {
    font-size: 56px;
}

section .content img {
    width: 70%;
}
.slider-info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    
}
.slider-info a {
    width: 100px;
}
.slider-centar {
    display: flex;
    justify-content:center;
}

/* categories */
main {
    width: 100%;
    margin: 0 auto;
    /* padding: 40px 40px; */


}

main .categories {
    width: 90%;
    margin: 0 auto;
    /* padding: 40px 40px; */
    display: flex;

    justify-content: space-between;

}
main .watch {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, #ff9c35, #ffa92e, #ffb527, #ffc31f, #ffd019);
    padding: 10px 35px;
    border-radius: 10px;
    column-gap: 100px;
}
main .bag {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to left top, #ff589b, #ff4c91, #ff3e86, #ff2d7b, #ff136f);
    padding: 10px 35px;
    border-radius: 10px;
    column-gap: 100px;
}
main .shoes {
display: flex;
align-items: center;
background-image: linear-gradient(to right bottom, #4289ff, #2274ff, #0c5dff, #2240ff, #3f07f8);
padding: 10px 35px;
border-radius: 10px;
column-gap: 100px;
}

/* Shoes */
main .back {
    background-color: #F4F4F4;
   
}
/* 
main .shoes-section {
    display: flex;
    width: 360px;
    padding: 24px;
    /* background-color: #FFFFF
    border-radius: 20px;
    gap: 22px;
    text-align: center;
    
} */

main .shoes-section {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.shoes-continer {
    /* width: 90%; */
    padding: 40px 40px;
}

main .shoes-section span {
    display: block;
    font-size: 26px;
    margin-bottom: 20px;
}
main .shoes-section a {
    width:168px;
    background-color: black;
    padding:14px 40px ;
    border-radius: 6px;
    color: white;
    text-decoration: none;

}

main .dart-img img {
    width:297px ;
}
main .shoes1 {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    column-gap: 22px;
    width: 360px;
    height: 450px;
    padding: 24px 24px;
    

}

main .shoes2 {
    background: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    row-gap: 20px;
    column-gap: 22px;
    width: 360px;
    height: 450px;
    padding: 24px 24px;
    
}

main .shoes3 {
    background: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    column-gap: 22px;
    width: 360px;
    height: 450px;
    padding: 24px 24px;
    

}
main .see-all {
    text-align: right;
    color: tomato;
}